.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    height: 64px;
    padding: 0 1.5rem;
}

.navbar > Link {
    margin-left: 50px;
}

.container {
    display: flex;
    gap: 1.25rem;
}