.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-dark);
    height: 64px;
    padding: 0 1.5rem;
}

.container {
    display: flex;
    gap: 1.25rem;
    color: var(--color-accent);
    font-size: var(--font-size-nav);
}

.logo {
    font-family: var(--font-secondary);
    font-size: var(--font-size-logo);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.wild {
    color: var(--color-primary);
}

.bloom {
    color: var(--color-secondary);
}